.color{
    width: 100%;
    height:40px;
    background-color: red ;
  }
  
  .online{
    text-align: center;
    color: white;
  
  }
  
  .navigation{
    width: 100%;
    height:110px;
  
  }
  
  .search{
    width: 50%;
    height: 40px;
    border-radius: 20px;
  }
  
  .campaigns{
    margin-left: 10%;
    color: red;
  }
  
  .shops{
    margin-left: 10%;
  }
  
  .other{
    margin-left: 10%;
  }
  
  .phone{
    margin-left: 10%;
  }
  
  ul{
    list-style: none;
  }
  
  .prod-desc{
    margin-left: 25%;
  }
  
  .footers{
    width: 100%;
    height: 450px;
    background-color: rgb(28, 27, 27);
  
  }
  
  .footer-pay{
    margin-left: 10%;
    color: white;
    text-align: center;
    padding-top: 20%;
    
  
  }
  
  .blacks{
    background-color: black;
  }
  

